{% extends "layouts/base.html" %}

{% block title %} รายชื่อผู้สมัครโครงการ {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div id="content" class="app-content">

    <h1 class="page-header">รายชื่อผู้สมัครโครงการ
        {% if current_user.has_permission('write_user request') %}
            <a href="#modal-dialog" data-bs-toggle="modal" class="btn btn-primary btn-icon btn-circle btn-lg">
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}
    </h1>
    
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">รายชื่อผู้ลงทะเบียนคำขอ</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie, message in messages %}
                                <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}                    
                        {% endif %}
                    {% endwith %}
                    <div class="row mb-3 align-items-center">
                        <div class="col-auto">
                            <label for="productFilter" class="col-form-label fw-bold">ค้นหาสินค้า:</label>
                        </div>
                        <div class="col-md-4">
                            <select id="productFilter" class="form-select">
                                <option value="">ทั้งหมด</option>
                                <!-- จะเติม option จาก backend -->
                            </select>
                        </div>
                    </div>
                    <table id="data-table-responsive" width="100%" class="table table-striped table-bordered align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th width="1%"></th>
                                <th class="text-nowrap ">ชื่อ - นามสกุล</th>
                                <th class="text-nowrap">อีเมล</th>
                                <th class="text-nowrap">เบอร์โทร</th>
                                <th class="text-nowrap w-150px">สนใจโครงการ</th>
                                <th class="text-nowrap">Agency</th>
                                <th class="text-nowrap">วันที่ลงทะเบียน</th>
                                <th class="text-nowrap ">สถานะ</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>


<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form  method="POST" data-parsley-validate="true">
                <div class="modal-header">
                    <h4 class="modal-title">Name : </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                     <div class="row mb-3" hidden>
                        <label class="form-label col-form-label col-md-4">id</label>
                        <div class="col-md-8">
                            <input type="text"  class="form-control" name="id" id="id-update" data-parsley-required="true"/>
                            <input type="text"  class="form-control" name="id_product"  id="id_product" data-parsley-required="true"/>

                        </div>
                    </div>    
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fullname" class="form-label">ชื่อ</label>
                                <input name="fullname"  class="form-control  me-2"   placeholder="ชื่อ">
                            </div>
                            <div class="col-md-6">
                                <label for="fullname" class="form-label">นามสกุล</label>
                                <input name="lastname"  class="form-control "  placeholder="นามสกุล">
                            </div>
                        </div>
                        
                    </div>
                    <div class="mb-3">
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="nickname" class="form-label">ชื่อเล่น</label>
                                  <input name="nickname"  class="form-control  me-2"  placeholder="ชื่อเล่น">
                                </div>
                                <div class="col-md-6">
                                  <label for="birth_date" class="form-label">วันเกิด</label>

                                  <div class="input-group date" id="datepicker-disabled-past" data-date-format="dd-mm-yyyy" >
                                    <input type="text" class="form-control" placeholder="Select Date" id="kt_daterangepicker_2" name="birth_date" required autocomplete="off"   />
                                    <span class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
                                  </div> 

                                </div>
                              </div>
                            
                          </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email" class="form-label">อีเมล</label>
                                <input type="email" class="form-control" name="email"   placeholder="อีเมล">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">เบอร์โทร</label>
                                <input name="phone" class="form-control "  placeholder="เบอร์โทรศัพท์*">

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email" class="form-label">Line ID</label>
                                <input type="email" class="form-control" name="line_id" >
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">เพศ</label>
                                <div class="col-md-9 pt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineRadio1" name="gender" checked value="men">
                                        <label class="form-check-label" for="inlineRadio1" >ชาย</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="customRadio2" name="gender"  value="female">
                                        <label class="form-check-label" for="customRadio2">หญิง</label>
                                    </div>
                                    
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email" class="form-label">หมวดหมู่โครงการ</label>
                                <select class="default-select2 form-control" id="category" required  name="category">
                                {% for category in categorys %}
                                    <option  value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">ประเทศ</label>
                                <select class="default-select2 form-control" id="country" required  name="country">
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email" class="form-label">ชื่อโครงการ</label>
                                <select class="default-select2 form-control" id="project" required  name="name_project">
                                    
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="agency" class="form-label">ชื่อ Agency</label>
                                <select class="default-select2  form-control" id="name_agency" required  name="name_agency">
                                    {% for agency in agencys %}
                                      <option  value="{{agency.id}}">{{agency.first_name}} {{agency.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           
                           
                            

                            
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label col-form-label">ช่องทางที่คุณรู้จักเรา<span class="text-danger form-label">*</span></label>
                                    <select class="default-select2 form-control" id="socail" required  name="social">
                                      {% for social in social_channels %}
                                        <option  value="{{social.name}}">{{social.name}}</option>
                                      {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">หมายเหตุ / บันทึกการติดต่อ <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="i_remask" rows="4" cols="50" required name="remask" placeholder="" >{{datas.address}}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">สถานะ Lead <span class="text-danger">*</span></label>
                                <select class="default-select2 form-control col-4" id="status_mode" name="status_mode">
                                        <option value="new">ใหม่ (New)</option>
                                        <option value="contacted">ติดต่อแล้ว (Contacted)</option>
                                        <option value="pending">รอการตัดสินใจ (Pending)</option>
                                        <option value="converted">ปิดการขายแล้ว (Converted)</option>
                                        <option value="lost">ไม่สนใจแล้ว (Lost)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3" hidden>
                        <label for="password" class="form-label">Username</label>
                        <div class="input-group">
                            <input name="username" required class="form-control " placeholder="Username*" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary w-100px" onclick="func_save($(this))">บันทึก</button>
                    <button type="button" class="btn btn-success w-100px" hidden onclick="func_createOrder($(this))">สร้าง Order</button>
                    <!-- <button type="button" class="btn btn-danger" onclick="func_save('rejected',$(this))">Rejected</button>
                    <button type="button" class="btn btn-success" onclick="func_save('active',$(this))">Appove</button> -->
                </div>
            </form>
        </div>
    </div>
</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $('[name="birth_date"]').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
    });   



$('#productFilter').select2({
    placeholder: "ค้นหาสินค้า",
    allowClear: true,
    width: 'resolve'  // ทำให้ขนาดเต็ม input
});



$('#productFilter').on('change', function() {
    $('#data-table-responsive').DataTable().ajax.reload();
});

$(document).ready(function() {
    loadDataTable();


$.get("/lead/get_product_list", function(products) {
    products.forEach(product => {
        $("#productFilter").append(
            `<option value="${product.id}">${product.name}</option>`
        );
    });
});

$('#name_agency,#country, #project,#category').select2({
    dropdownParent: $('#modal-dialog')
});


    // เมื่อเลือกหมวดหมู่
$('#category').change(function () {
    var categoryId = $(this).val();
    $('#country').prop('disabled', true).html('<option value="">-- เลือกประเทศ --</option>');
    $('#project').prop('disabled', true).html('<option value="">-- เลือกโปรเจค --</option>');
  
    if (categoryId) {
      $.getJSON('/api/get_countries_by_category/' + categoryId, function (data) {
        $.each(data, function (i, country) {
          $('#country').append($('<option>', {
            value: country.id,
            text: country.name
          }));
        });
        $('#country').prop('disabled', false);
      });
    }
  });
  
  // เมื่อเลือกประเทศ
  $('#country').change(function () {
    var categoryId = $('#category').val();
    var countryId = $(this).val();
    $('#project').prop('disabled', true).html('<option value="">-- เลือกโปรเจค --</option>');
  
    if (categoryId && countryId) {
      $.getJSON('/api/get_projects/' + categoryId + '/' + countryId, function (data) {
        $.each(data, function (i, project) {
          $('#project').append($('<option>', {
            value: project.id,
            text: project.name
          }));
        });
        $('#project').prop('disabled', false);
      });
    }
  });
  
    
});

$.fn.dataTable.ext.type.order['timestamp-millis-pre'] = function(d) {
    return typeof d === 'string' ? parseInt(d, 10) : d;
};
function loadDataTable() {
    
    
    // เช็คและลบ DataTable เดิมก่อนถ้ามี
    if ($.fn.DataTable.isDataTable('#data-table-responsive')) {
        $('#data-table-responsive').DataTable().destroy();
    }
    

    const table = $('#data-table-responsive').DataTable({
        responsive: true,
        processing: true,
        serverSide: true,
        ajax: {
            url: "/lead/get_userRequest",
            type: "POST",
            data: function(d) { 
                d.product_id = $('#productFilter').val();
                return JSON.stringify(d); 
            },
            contentType: "application/json",
            dataType: "json"
        },
        columns: [
       
            { data: "id", className: "text-center" },
            {
                data: null,
                render: function(data, type, row) {
                    return `${row.first_name} ${row.last_name}`;
                }
            },
            { data: "email" },
            { data: "tel" },
            {data: "product_name"},
            {data: "agency"},
            {
                data: "created_at",
                type: 'timestamp-millis',  // ใช้ custom sorter นี้
                render: function(data, type, row) {
                    console.log("render:", type, data, typeof data); 
                    if(type === 'display' || type === 'filter') {
                        return new Date(Number(data)).toLocaleDateString("th-TH");
                    }
                    return Number(data);
                }
            },
            {
                data: null,
                render: function(data, type, row) {
                    let status = row.data_list.status;
                    let color_text = '';
                    let text= '';
                    if (status === 'new') {
                        color_text = 'warning';
                        text = 'ใหม่';
                    } else if (status === 'contacted') {
                        color_text = 'info';
                        text = 'ติดต่อแล้ว';
                    } else if (status === 'pending') {
                        color_text = 'secondary';
                        text = 'รอการติดสินใจ';
                    } else if (status === 'converted') {
                        color_text = 'success';
                        text = 'ปิดการขาย';
                    } else if (status === 'lost') {
                        color_text = 'danger';
                        text = 'ไม่สนใจ';
                    } else {
                        color_text = 'dark'; // default case
                    }
            
                    return `<span class="text-${color_text}  mb-1">${text}</span>`;
                }
            },
            { 
                data: null,  
                orderable: false, // ปิดการเรียงลำดับในคอลัมน์นี้
                render: function(data, type, row) {
                    const rowData = JSON.stringify(row).replace(/"/g, '&quot;'); 
                    
                    return `
                    <a href="javascript:;" class="btn btn-success  btn-icon btn-circle " hidden><i class="fas fa-check" onclick="sweetAlertAppove('${data.data_list.id}','active')"></i></a>
                                           
                    <a href="javascript:;" onclick="sweetAlertReject('${data.data_list.id}','rejected')" hidden class=" btn btn-danger btn-icon btn-circle "><i class="fas fa-times"></i></a>
                
                    <a  href="javascript:;" onclick="func_modal('${rowData}')" class=" btn btn-dark  btn-circle btn-icon"  ><i class="fas fa-pen"></i> </a>
                    <a  href="javascript:;" onclick="func_modal_order('${rowData}')" hidden class=" btn btn-success btn-sm "  > <i class="fa fa-plus"></i> สร้าง Order</a>
                    <a href="/order/order_create" class="btn btn-success ms-3 btn-sm  bg-gradient" hidden></a>
                    <a class="btn btn-danger btn-icon btn-circle " onclick="sweetAlertDel(${data.data_list.id})">
                            <i class="fas fa-trash"></i>
                        </a>
                    `;
                    
                }
            }
        ],
          order: [[6, "asc"]],  // เรียงลำดับจาก ID
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        pageLength: 10
    });

    //setInterval(function () {
    //    table.ajax.reload(null, false); // false = ไม่ reset pagination
    //}, 10000);
}

function func_modal(data) {
    console.log(data)
    
    data = JSON.parse(data); 
    
    console.log(data)
    

    $('#modal-dialog').modal('show');

    // $('form').attr('action', '/customer/edit');
    $('.modal-title').html(`Name: ${data.first_name} ${data.last_name}`);
    $('.c_add').hide()
    $('.c_edit').show()

    $('[name="id"]').val(data.id);
    $('[name="id_product"]').val(data.product_id);
    $('[name="fullname"]').val(data.first_name);
    $('[name="lastname"]').val(data.last_name);
    $('[name="nickname"]').val(data.lead.nick_name);
    $('[name="email"]').val(data.email);
    $('[name="phone"]').val(data.tel);
    $('[name="line_id"]').val(data.lead.line_id);
    $('input[name="gender"][value="' + data.lead.gender + '"]').prop("checked", true);

    //$('[name="name_project"]').val(data.product_name).trigger('change.select2');
    //$('[name="category"]').val(data.category).trigger('change.select2');
    //$('[name="country"]').val(data.country);
    const agencyValue = data.data_list.agency_id ?? 'None';
    console.log(agencyValue)
    //console.log('✅ Will set value:', agencyValue);  // ควรเห็น 'None' หรือ '12' เป็นต้น
    $('[name="name_agency"]').val(agencyValue).trigger('change.select2');

    //console.log('Options available:', $('[name="name_agency"] option').map(function() { return this.value }).get());


    $('[name="remask"]').val(data.data_list.remask);
    $('[name="status_mode"]').val(data.data_list.status);
    $('#socail').val(data.lead.social).trigger('change.select2');

    preloadSelectValues(data);




    if (data.lead.birth_date) {
        // ตัดเวลา และแยกส่วน yyyy-mm-dd
        const [datePart] = data.lead.birth_date.split(' ');
        const [year, month, day] = datePart.split('-').map(Number);
    
        // แสดงผลใน input เป็น dd/mm/yyyy
        const formattedDate = `${String(day).padStart(2, '0')}/${String(month).padStart(2, '0')}/${year}`;
        $('[name="birth_date"]').val(formattedDate);
    
        // ตั้งค่าใน datepicker โดยใช้ Date(year, monthIndex, day)
        const dateObj = new Date(year, month - 1, day);
        $('[name="birth_date"]').datepicker('setDate', dateObj);
    } else {
        $('[name="birth_date"]').val("");
        $('[name="birth_date"]').datepicker('clearDates');
    }
    
    
    
   

}
</script>
<script>

function preloadSelectValues(data) {
    // ตั้งค่า Category ก่อน
    if (data.category) {
      if (!$('#category').find("option[value='" + data.category + "']").length) {
        $('#category').append(new Option("กำลังโหลด...", data.category, true, true));
      }
      $('#category').val(data.category).trigger('change.select2');
    }
  
    // หลังตั้ง Category แล้วโหลด Countries
    if (data.category) {
      $.getJSON('/api/get_countries_by_category/' + data.category, function (countries) {
        $('#country').empty();
        $.each(countries, function (i, country) {
          $('#country').append(new Option(country.name, country.id));
        });
  
        // ตั้งค่า Country ตาม ID ที่ส่งมา
        if (data.country) {
          $('#country').val(data.country).trigger('change.select2');
        }
  
        // หลังตั้ง Country แล้วโหลด Projects
        if (data.category && data.country) {
          $.getJSON('/api/get_projects/' + data.category + '/' + data.country, function (projects) {
            $('#project').empty();
            $.each(projects, function (i, project) {
              $('#project').append(new Option(project.name, project.id));
            });
  
            // ตั้งค่า Project ตาม ID ที่ส่งมา
            if (data.product_id) {
              $('#project').val(data.product_id).trigger('change.select2');
            }
          });
        }
      });
    }
  }
  
  // เรียกใช้งานเมื่อมีข้อมูล
  

  // เรียกใช้ฟังก์ชันพร้อมกับข้อมูลที่มีอยู่แล้ว
  
  
</script>
<script>
function func_modal_order(data){
    data = JSON.parse(data); 
    
    console.log(data)
    console.log(data.price)
    

    $('#modal-order').modal('show');

    // $('form').attr('action', '/customer/edit');
    $('.modal-title').html(`Name: ${data.first_name} ${data.last_name}`);
    $('.c_add').hide()
    $('.c_edit').show()

    $('[name="id"]').val(data.product.id);
    $('[name="id_product"]').val(data.product.product_id);

    $('[name="fullname"]').val(data.first_name);
    $('[name="lastname"]').val(data.last_name);
    $('[name="nickname"]').val(data.product.nick_name);
    $('[name="email"]').val(data.product.email);
    $('[name="phone"]').val(data.product.tel);
    $('[name="name_project"]').val(data.product_name);
    $('[name="category"]').val(data.category);
    $('[name="country"]').val(data.country);
    $('[name="name_agency"]').val(data.agency);
    $('[name="remask"]').val(data.product.remask);
    $('[name="status_modeOrder"]').val(data.product.status);
    $('[name="price"]').val(parseFloat(data.price).toLocaleString('en-US'));



    if (data.data_user.birth_date) {
            const date = new Date(data.data_user.birth_date);  // แปลงเป็น Date object
            if (!isNaN(date)) {
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                const formattedDate = `${day}/${month}/${year}`;
                $('[name="birth_date"]').val(formattedDate);
            }
    } else {
        $('[name="birth_date"]').val("");  // ถ้าไม่มีวันเกิดให้ใส่ค่าว่าง
    }
   

}
</script>
<script>
function func_save(x){
    
    x.attr('disabled', true);   

       fetch("/lead/check_statusLead", {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({

                id: $('[name="id"]').val(),
                product_id: $('[name="name_project"]').val(),
                status: $('[name="status_mode"]').val(),
                remask: $('[name="remask"]').val(),
                first_name: $('[name="fullname"]').val(),
                last_name: $('[name="lastname"]').val(),
                nickname:$('[name="nickname"]').val(),
                email:$('[name="email"]').val(),
                tel:$('[name="phone"]').val(),
                agency_id:$('[name="name_agency"]').val(),
                social:$('[name="social"]').val(),
                category_id:$('[name="category"]').val(),
                country_id:$('[name="country"]').val(),
                gender:$('input[name="gender"]:checked').val(),
                line_id:$('[name="line_id"]').val(),
                birth_date:$('[name="birth_date"]').val(),
            
            }),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log(data);
            x.attr('disabled',true);
            //swal({
            //    icon: "success",
            //    title: "Successfully!",
            //    timer: 1500
            //});

            location.reload();
        })
        .catch((error) => {
            console.error("Error:", error);
            swal({
                icon: "error",
                title: "Error !",
                confirmButtonText: "OK",  // ✅ ใช้ได้กับ Swal.fire()
                showConfirmButton: true
            });
            x.attr('disabled', false);
        });     
    
    
}
function sweetAlertAppove(id_check,mode ){
    console.log(mode)
    swal({
            title: "ยืนยันการดำเนินการ?",
            text: `คุณแน่ใจหรือไม่ว่าจะอนุมัติ ผู้ใช้นี้?`,
            icon: "warning",
            buttons: {
                cancel: {
                    text: "ยกเลิก",
                    visible: true,
                    className: "btn btn-gray-300",
                    closeModal: true,
                },
                confirm: {
                    text: "ยืนยัน",
                    visible: true,
                    className: "btn btn-primary",
                    closeModal: false, // ปิด modal หลังจาก fetch เสร็จ
                }
            },
            dangerMode: true,
        }).then((willApprove) => {
            if (willApprove) {
                fetch("/user_request/check_appovedUser", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: id_check,
                        status: mode
                    }),
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    swal({
                        icon: "success",
                        title: "ดำเนินการสำเร็จ!",
                        text: `ผู้ใช้ถูกอนุมัติเรียบร้อยแล้ว`,
                        confirmButtonText: "OK"
                    }).then(() => {
                        location.reload();
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                    swal({
                        icon: "error",
                        title: "เกิดข้อผิดพลาด!",
                        text: "ไม่สามารถดำเนินการได้ กรุณาลองใหม่",
                    });
                });
            }
        });
        
        
}
function sweetAlertReject(id_check,mode ){
    console.log(mode)
    swal({
            title: "ยืนยันการดำเนินการ?",
            text: `คุณแน่ใจหรือไม่ว่าต้องการปฏิเสธผู้ใช้นี้?`,
            icon: "warning",
            buttons: {
                cancel: {
                    text: "ยกเลิก",
                    visible: true,
                    className: "btn btn-gray-300",
                    closeModal: true,
                },
                confirm: {
                    text: "ยืนยัน",
                    visible: true,
                    className: "btn btn-primary",
                    closeModal: false, // ปิด modal หลังจาก fetch เสร็จ
                }
            },
            dangerMode: true,
        }).then((willApprove) => {
            if (willApprove) {
                fetch("/user_request/check_appovedUser", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: id_check,
                        status: mode
                    }),
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    swal({
                        icon: "success",
                        title: "ดำเนินการสำเร็จ!",
                        text: `ปฏิเสธการอนุมัติผู้ใช้เรียบร้อยแล้ว`,
                        confirmButtonText: "OK"
                    }).then(() => {
                        location.reload();
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                    swal({
                        icon: "error",
                        title: "เกิดข้อผิดพลาด!",
                        text: "ไม่สามารถดำเนินการได้ กรุณาลองใหม่",
                    });
                });
            }
        }); 
    
    
}
</script>
<script>
    
function formatNumberWithCommas(input) {
    let value = input.value;

    // ลบ comma ที่มีอยู่ทั้งหมด
    value = value.replace(/,/g, '');

    // ตรวจสอบว่าค่าเป็นตัวเลขหรือไม่
    if (!isNaN(value) && value !== '') {
        value = parseFloat(value).toLocaleString('en-US'); 
    }

    // อัปเดตค่ากลับเข้า input
    input.value = value;
}

function formatNumberInter(input) {

    let value = input.value;

    // ตรวจสอบว่าค่าที่ใส่มาเป็นตัวเลขหรือไม่
    if (!value) {
        input.value = ''; // ถ้าไม่มีค่า ให้เคลียร์
        return;
    }

    // ลบ comma ออกก่อนทำการประมวลผล
    value = value.replace(/,/g, '');

    // ตรวจสอบว่าค่าเป็นตัวเลขหรือไม่
    if (isNaN(value)) {
        input.value = ''; // ถ้าไม่ใช่ตัวเลข ให้เคลียร์ค่า
        return;
    }

    // แปลงค่าเป็นจำนวนเต็ม
    let number = parseInt(value, 10);

    // กำหนดค่ากลับโดยเพิ่ม comma ให้ตัวเลข
    input.value = number.toLocaleString();
}
</script>

<script>
    function func_createOrder(x) {
        x.attr('disabled', true);   
    
        fetch("/lead/create_order", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                id: $('[name="id"]').val(),
                status: $('[name="status_modeOrder"]').val(),
            }),
        })
        .then((response) => {
            if (!response.ok) {
                // ถ้า response ไม่สำเร็จ ให้ดึงข้อมูล error
                return response.json().then((data) => {
                    throw data;  // โยนข้อมูล error เพื่อจับใน .catch
                });
            }
            return response.json(); // ถ้าคำขอสำเร็จ
        })
        .then((data) => {
            console.log(data);
            x.attr('disabled', true);
            swal({
                icon: "success",
                title: "Successfully!",
                timer: 1500
            });
            location.reload();
        })
        .catch((error) => {
            console.error("Error:", error);
    
            // ตรวจสอบ error ที่ได้รับจาก backend
            if (error.status === 'Error') {
                swal({
                    icon: "error",
                    title: "Error!",
                    text: error.message || "มีข้อผิดพลาดเกิดขึ้น",
                    confirmButtonText: "OK",
                    showConfirmButton: true
                });
            } else {
                // ข้อผิดพลาดทั่วไป
                swal({
                    icon: "error",
                    title: "เกิดข้อผิดพลาด",
                    text: "เกิดข้อผิดพลาดไม่คาดคิด",
                    confirmButtonText: "OK",
                    showConfirmButton: true
                });
            }
            x.attr('disabled', false);
        });     
    }
 
    
function sweetAlertDel(id) {
    swal({
        title: "Are you sure?",
        text: "Delete!",
        icon: "warning",
        buttons: {
            cancel: {
                text: "Cancel",
                value: null,
                visible: true,
                className: "btn btn-default",
                closeModal: true,
            },
            confirm: {
                text: "Delete",
                value: true,
                visible: true,
                className: "btn btn-danger",
                closeModal: true,
            },
        },
    }).then((result) => {
        if (result.dismiss !== "cancel") {
            post("/lead/delete_lead_list", {
                id: id
            });
        }
    });
}


function post(path, params, method = "post") {
    const form = document.createElement("form");
    form.method = method;
    form.action = path;
    for (const key in params) {
        if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = key;
            hiddenField.value = params[key];
            form.appendChild(hiddenField);
        }
    }
    document.body.appendChild(form);
    form.submit();
}
</script>

{% endblock javascripts %}
