{% extends "layouts/base.html" %}

{% block title %} ตั้งค่า LINE แจ้งเตือนสินค้า {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <!-- <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="javascript:;">Resource</a></li>
    </ol>-->
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
   
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- ฝั่งซ้าย: รายการอุปกรณ์ + ปุ่มบวก -->
            <div class="d-flex align-items-center" >
                <!-- <h6 class="page-header m-0">จัดการ LINE Token</h6> -->
                {% if current_user.has_permission('write_notification') %}
                     <a class="btn btn-success ms-3 shadow-sm  bg-gradient" hidden onclick="func_modal('add')">
                            <i class="fa fa-plus"></i> เพิ่ม
                        </a> 
                {% endif %}
            </div>

            
        </div>

    
    <div class="row">
        <div class="col-xl-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">ตั้งค่า LINE แจ้งเตือนสินค้า</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie, message in messages %}
                                <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}                    
                        {% endif %}
                    {% endwith %}
                    <div class="container ">
                        <h5 class=" mb-2" hidden>ตั้งค่า LINE แจ้งเตือนสินค้า</h5>
                        <form id="lineTokenForm">

                            <div class="row mb-3"  hidden> >
                                <label class="form-label col-form-label col-md-4">id</label>
                                <div class="col-md-8">
                                    <input type=""  class="form-control" name="id" id="id-update" value="{{data.id}}" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="row my-3">
                                <label class="form-label col-form-label col-md-4">Name Line<span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="name_line" value="{{data.name}}" required>
                                </div>
                              </div>
        
                            <div class="row mb-3">
                            <label class="form-label col-form-label col-md-4">Channel Access Token <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="channel_access_token" value="{{data.channel_access_token}}" required>
                            </div>
                            </div>
                          
                              <div class="row mb-3" hidden>
                                <label class="form-label col-form-label col-md-4">User ID</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="user_id" value="{{data.user_id}}">
                                </div>
                              </div>
                          
                              <div class="row mb-3">
                                <label class="form-label col-form-label col-md-4">Group ID<span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="group_id" value="{{data.group_id}}">
                                </div>
                              </div>
                            
                            <div class="text-end">
                               
                                <button type="submit" class="btn btn-success mt-3 me-3 w-100px"  onclick='testLineNotification({{ data.id }})'>Test</button>
                                <button type="submit" class="btn btn-primary mt-3 w-100px">บันทึก</button>
                            </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>


<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form  method="POST" data-parsley-validate="true">
                <div class="modal-header">
                    <h4 class="modal-title">Add Line</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3" hidden >
                        <label class="form-label col-form-label col-md-4">id</label>
                        <div class="col-md-8">
                            <input type=""  class="form-control" name="id" id="id-update" data-parsley-required="true"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Name Line<span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name_line" required>
                        </div>
                      </div>

                    <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Channel Access Token <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="channel_access_token" required>
                        </div>
                      </div>
                  
                      <div class="row mb-3" hidden>
                        <label class="form-label col-form-label col-md-4">User ID</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="user_id">
                        </div>
                      </div>
                  
                      <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Group ID<span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="group_id">
                        </div>
                      </div>
                   
                    
                
                   
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-success c_add" onclick="func_save('add',$(this))">Submit</button>
                    <button type="button" class="btn btn-success c_edit" onclick="func_save('edit',$(this))">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/form-plugins.demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/render.highlight.js"></script>

<script>
    
// delete
function post(path, params, method = "post") {
    const form = document.createElement("form");
    form.method = method;
    form.action = path;
    for (const key in params) {
        if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = key;
            hiddenField.value = params[key];
            form.appendChild(hiddenField);
        }
    }
    document.body.appendChild(form);
    form.submit();
}

function sweetAlertDel(id) {
    swal({
        title: "Are you sure?",
        text: "Delete!",
        icon: "error",
        buttons: {
            cancel: {
                text: "Cancel",
                value: null,
                visible: true,
                className: "btn btn-default",
                closeModal: true,
            },
            confirm: {
                text: "Delete",
                value: true,
                visible: true,
                className: "btn btn-danger",
                closeModal: true,
            },
        },
    }).then((result) => {
        if (result.dismiss !== "cancel") {
            post("/notification/deleteline", { id: id });
        }
    });
}



function setEditValue(data){
    // console.log(data)
    $("#id-update").val(data.id);
    $("#name-update").val(data.name);
    $("#description-update").val(data.description);
}


function func_modal(mode, data) {
    console.log(mode, data)
    $('#modal-dialog').modal('show');

    if (mode == 'add') {
        // $('form').attr('action', '/customer/add');
        $('.modal-title').html('Add Line');
        $('.c_add').show()
        $('.c_edit').hide()
        $('.modal-title').html('Add');
        $('[name="name_line"]').val('');
        $('[name="channel_access_token"]').val('');
        $('[name="user_id"]').val('');
        $('[name="group_id"]').val('');
       


    } else if (mode == 'edit') {
        // $('form').attr('action', '/customer/edit');
        $('.modal-title').html('Edit Line');
        $('.c_add').hide()
        $('.c_edit').show()

        $('[name="id"]').val(data.id);
        $('[name="name_line"]').val(data.name);
        $('[name="channel_access_token"]').val(data.channel_access_token);
        $('[name="user_id"]').val(data.user_id);
        $('[name="group_id"]').val(data.group_id);
       
        
    }

}

function func_save1(mode, x) {

    console.log(mode)
    x.attr('disabled', true);

    let details = {
        'name': $('[name="name_line"]').val(),
        'channel_access_token': $('[name="channel_access_token"]').val(),
        'user_id': $('[name="user_id"]').val(),
        'group_id': $('[name="group_id"]').val(),
        
    }
    if (details['name'].trim() == '') {
        check_fail('กรุณากรอกชื่อ')
        x.attr('disabled', false);
        return
    } 
    if (details['channel_access_token'].trim() == '') {
        check_fail('กรุณากรอก Token')
        x.attr('disabled', false);
        return
    } 
    if (details['group_id'].trim() == '') {
        check_fail('กรุณากรอก group id')
        x.attr('disabled', false);
        return
    } 
    
    
    if (mode === 'add') {
        fetch("/notification/addLine", {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: $('[name="name_line"]').val(),
                channel_access_token: $('[name="channel_access_token"]').val(),
                user_id: $('[name="user_id"]').val(),
                group_id: $('[name="group_id"]').val(),
            }),
        })
        .then((response) => {
            if (!response.ok) {
                return response.json().then((data) => { throw data });
            }
            return response.json();
        })
        .then((data) => {
            console.log(data);
            x.attr('disabled', true);
            location.reload();
        })
        .catch((error) => {
            console.error("Error:", error);
            swal({
                icon: "error",
                title: error.message || "เกิดข้อผิดพลาด",
                showConfirmButton: true
            });
            x.attr('disabled', false);
        });
    }
    
         else if (mode == 'edit') {
        // alert(mode)
        fetch("/notification/updateLine", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: $('[name="id"]').val(),
                    name: $('[name="name_line"]').val(),
                    channel_access_token: $('[name="channel_access_token"]').val(),
                    user_id: $('[name="user_id"]').val(),
                    group_id: $('[name="group_id"]').val(),
                  
                }),
            })
            .then((response) => {
                if (!response.ok) {
                    return response.json().then((data) => { throw data });
                }
                return response.json();
            })
            .then((data) => {
                console.log(data);
                x.attr('disabled',true);
                // swal({
                //     icon: "success",
                //     title: "Successfully edit customer!",
                //     confirmButtonText: "OK", // ตัวเลือกที่ถูก deprecated
                //     showConfirmButton: true,
                //     // timer: 1500
                // });
                location.reload();
            })
            .catch((error) => {
                console.error("Error:", error);
                swal({
                    icon: "error",
                    title: error.message || "เกิดข้อผิดพลาด",
                    showConfirmButton: true
                });
                 x.attr('disabled', false);
            });

    }




}
</script>

  <script>
  $(document).ready(function() {
    $("#lineTokenForm").on("submit", function(e) {
      e.preventDefault();
  
      const formData = {};
      $(this).serializeArray().forEach(function(item) {
        formData[item.name] = item.value;
      });
  
      swal({
        title: "กำลังบันทึก...",
        text: "โปรดรอสักครู่",
        icon: "info",
        buttons: false,
        closeOnClickOutside: false
      });
  
      $.ajax({
        url: "/notification/save_line_token",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(formData),
        success: function(res) {
          if (res.success) {
            swal({
              title: "สำเร็จ!",
              text: "บันทึกข้อมูลเรียบร้อยแล้ว ✅",
              icon: "success",
              button: "ตกลง"
            }).then(() => {
                // ✅ รีเฟรชหน้าเมื่อผู้ใช้กด "ตกลง"
                location.reload();
              });
          } else {
            swal({
              title: "ผิดพลาด!",
              text: res.message || "ไม่สามารถบันทึกข้อมูลได้",
              icon: "error",
              button: "ตกลง"
            });
          }
        },
        error: function(err) {
          console.error(err);
          swal({
            title: "เกิดข้อผิดพลาด!",
            text: "ไม่สามารถเชื่อมต่อกับเซิร์ฟเวอร์ได้",
            icon: "error",
            button: "ตกลง"
          });
        }
      });
    });
  });
  </script>
  
<script>
    function testLineNotification(id) {
        fetch("/notification/test_send", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ id: id })
        })
        .then(res => res.json())
        .then(data => {
            if(data.success){
                swal("Success", "✅ ส่งข้อความสำเร็จ", "success");
            } else {
                swal("Error", "❌ ส่งข้อความล้มเหลว: " + data.message, "error");
            }
        })
        .catch(err => {
            console.error(err);
            swal("Error", "❌ เกิดข้อผิดพลาด", "error");
        });
    }
</script> 


{% endblock javascripts %}
