{% extends "layouts/base.html" %}

{% block title %} Product For Sales {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
<script src="{{ config.ASSETS_ROOT }}/plugins/dropzone/dist/min/dropzone.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <style>
          @media print {
            body,page {
            float: left;
            margin: none;
            box-shadow: 0;
            width: 85mm;
            height: 100%;
            }}

          .select2-container--default .select2-results__option[aria-disabled=true] {
                color: #999;
            }
            .datepicker-months .datepicker-switch,
            .datepicker-months th.next,
            .datepicker-months th.prev {
                display: none !important; /* ซ่อนส่วนเลือกปีและลูกศร */
            }

            .default-select2 option {
                white-space: nowrap;       /* ไม่ให้ข้อความข้ามบรรทัด */
                overflow: hidden;          /* ซ่อนข้อความที่เกิน */
                text-overflow: ellipsis;   /* เพิ่ม '...' เมื่อข้อความยาวเกิน */
            }
    </style>
{% endblock stylesheets %}

{% block content %}
       
<!-- <form action="/order/add" id="myForm" method="POST" data-parsley-validate="true" enctype="multipart/form-data">-->
<form  id="myForm" data-parsley-validate="true" enctype="multipart/form-data"> 


<div id="content" class="app-content">

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}                    
    {% endif %}
{% endwith %}

    <div class="panel panel-default" data-sortable-id="ui-widget-11" data-init="true">
        <div class="panel-heading ui-sortable-handle">
            <h3 class="panel-title " style="font-size: 20px;">Product For Sales </h3>
            <div class="panel-heading-btn">
                <button type="button"  class="btn btn-blue"  onclick="func_save()">Save</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mb-3" hidden>
                        <label class="form-label col-form-label col-md-4">id</label>
                        <div class="col-md-8">
                            <input type="hidden"  class="form-control" name="id" id="id-update" data-parsley-required="true"/>
                        </div>
                    </div>    
                    <div class="row mb-3"  >
                        <label class="form-label col-form-label col-md-4">Name Product</label>
                        <div class="col-md-8">
                            <input  class="form-control"  name="name_product" id="i_nameProduct"  value=""  display data-parsley-required="true"/>
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Product Category</label>
                        <div class="col-lg-8">
                            <select class="default-select2 form-control"  name="productCategory" id="i_productCategory" >
                                <option value="">ไม่มี</option>
                                {% for productCar in productCars %}
                                    <option value="{{productCar.id}}">{{productCar.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Country</label>
                        <div class="col-lg-8">
                            <select class="default-select2 form-control"  name="country" id="i_country" >
                                <option value="">ไม่มี</option>
                                {% for country in countrys %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label col-form-label col-md-4">Period</label>
                        <div class="col-lg-8">
                            <select class="default-select2 form-control"  name="period" id="i_period" >
                                <option value="">ไม่มี</option>
                                {% for period in periods %}
                                    <option value="{{period.id}}">{{period.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="form-label col-form-label col-lg-4">ระยะเวลาโครงการ</label>
                            <div class="col-lg-8">
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control" name="start" id="w_start" placeholder="Date Start" required autocomplete="off" />
                                    <span class="input-group-text input-group-addon">to</span>
                                    <input type="text" class="form-control" name="end" id="w_end"placeholder="Date End" required autocomplete="off" />
                                </div>
                            </div>
                    </div>
                    <div class="row mb-3"  >
                        <label class="form-label col-form-label col-md-4">Year</label>
                        <div class="col-md-8">
                            <input  class="form-control"  name="year" id="i_year"  value=""  display data-parsley-required="true"/>
                        </div>
                    </div> 
                   

                </div>  
                <div class="col-sm-6">
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">รูปสินค้า</label>

                        <div class="col-md-8">
                            <input class="form-control" type="file" id="formFile_img" name="formFile_img" multiple accept=".jpg, .jpeg, .png"  onchange="validateFile(this)"/>
                            
                        </div>
                    </div>
                   <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">ราคาขาย</label>

                        <div class="col-md-8">
                            <input  class="form-control"  name="price" id="i_price"  value="0"  oninput="formatNumber(this)" display data-parsley-required="true"/>
                            
                        </div>
                    </div>
                   <div class="row mb-15px" hidden>
                        <label class="form-label col-form-label col-md-4">ราคาทุน</label>
                        <div class="col-md-8">
                            <input  class="form-control"  name="cost" id="i_cost"  value=""  display data-parsley-required="true"/>
                            
                        </div>
                    </div>
                   <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">Term Of Payment</label>
                        <div class="col-md-8">
                           <select class="default-select2 form-control"  name="term" id="i_term"  >
                                <option value="">ไม่มี</option>
                                {% for term in termOfPaymentModels %}
                                    <option value="{{term.name}}">{{term.name}}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                    </div>
                    <div class="row mb-15px">
                        <div id="extra-inputs"></div>

                    </div>
                </div>
                                
            </div>

            <hr class="my-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">Employee</label>
                        <div class="col-md-8">
                            <input  class="form-control" readonly name="term" id="i_term"  value=""  display data-parsley-required="true"/>
                            
                        </div>
                    </div>
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">Supplier (organization)</label>
                        <div class="col-md-8">
                            <input  class="form-control" readonly name="term" id="i_term"  value=""  display data-parsley-required="true"/>
                            
                        </div>
                    </div>
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">Agency</label>
                        <div class="col-md-8">
                            <input  class="form-control" readonly name="term" id="i_term"  value=""  display data-parsley-required="true"/>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="form-label col-form-label col-lg-4">รายละเอียดโครงการ</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" id="detail" rows="4" cols="50"  name="detail" placeholder="" ></textarea>
                        </div>
                    </div> 
                    <div class="row mt-15px">
                    <label class="form-label col-form-label col-md-4">ไฟล์โครงการ</label>

                    <div class="col-md-8">
                        <input class="form-control" type="file" id="formFile_file" name="formFile_file" multiple accept=".pdf,"  onchange="validateFile(this)"/>
                        
                    </div>
                     {% for file_data in file_data %}
                        {% if file_data.file_type == 1 %}
                            
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    
                                </div>
                                <div class="col-md-8 col-sm-12 col-xs-12 mt-10px text-ellipsis">
                                <a href="{{ url_for('order_blueprint.downloadFile', filename=file_data.filename)}}" style="text-decoration: none; color: black;"><i class="fas fa-lg fa-fw ms-5px  fa-file"></i> <span>{{ file_data.filename }}</span></a> <a onclick="sweetAlertDelSign({{file_data.id}},{{orders.id}})"><i class="fas fa-lg fa-fw mx-5px fa-trash-can text-danger c_trash"></i></a>  </div>
                            </div>
                        
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
                
            </div>


            
          
        </div>
        <div class="hljs-wrapper">
            <pre><code class="html hljs language-xml" data-url="../assets/data/ui-widget-boxes/code-11.json" data-highlighted="yes"></code></pre>
        </div>
    </div>
        	

    
    
</form>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/form-plugins.demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/render.highlight.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/productForSales/mainCreatProduct.js?v=1.01"></script>

<script>
$(document).ready(function () {
    $("#i_term").change(function () {
        let termValue = $(this).val(); // ดึงค่าที่เลือก
        let termNumber = parseInt(termValue, 10); // แปลงเป็นตัวเลขฐาน 10
        let extraInputsContainer = $("#extra-inputs");

        extraInputsContainer.empty(); // ล้างข้อมูลเดิมก่อนเพิ่มใหม่

        if (!isNaN(termNumber) && termNumber > 0) { // ตรวจสอบว่าเป็นตัวเลขและมากกว่า 0
            for (let i = 0; i < termNumber; i++) { // วน loop ตามจำนวนที่เลือก
                let newRow = `
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">จำนวนงวด ${i + 1}</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" hidden name="term_id" value="" placeholder="รายละเอียด">
                            <input type="text" class="form-control" name="term_detail"  placeholder="รายละเอียด">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="installments"  value="0"  oninput="formatNumber(this)" placeholder="จำนวนงวด ${i + 1}">
                        </div>
                    </div>
                `;
                extraInputsContainer.append(newRow);
            }
        }
    });
});
</script>

<script>
function formatNumber(input) {
    let value = input.value;

    // ลบ comma ออกจากค่าที่ป้อน
    value = value.replace(/,/g, '');

    let regex = /^\d+(\.\d{0,2})?$/;
    if (!regex.test(value)) {
        input.value = input.value.slice(0, -1); // ลบตัวอักษรสุดท้ายที่เกินออก
        return;
    }

    // แปลงค่าเป็นตัวเลข
    let number = parseFloat(value);

    // แยกส่วนหน้าและส่วนทศนิยม
    let parts = value.split('.');
    parts[0] = parseInt(parts[0], 10).toLocaleString(); // เพิ่ม comma ให้เฉพาะส่วนหน้า

    // รวมค่ากลับ
    input.value = parts.length > 1 ? parts.join('.') : parts[0];
}

</script>









{% endblock javascripts %}
