<div
    id="sidebar"
    class="app-sidebar"
    data-disable-slide-animation="true"
    data-bs-theme="dark"
>
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-profile">
                <a
                    href="javascript:;"
                    class="menu-profile-link"
                    data-toggle="app-sidebar-profile"
                    data-target="#appSidebarProfileMenu"
                >
                    <div class="menu-profile-cover with-shadow"></div>
                    <div class="menu-profile-image">
                        <img
                            src="{{config.ASSETS_ROOT}}/img/user/user.png"
                            alt=""
                        />
                    </div>
                    <div class="menu-profile-info">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                {{current_user.username}}
                            </div>
                            <div class="menu-caret ms-auto"></div>
                        </div>
                        <small>{{current_user.role.name}}</small>
                    </div>
                </a>
            </div>
            <div id="appSidebarProfileMenu" class="collapse">
                <div class="menu-item pt-5px">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-cog"></i></div>
                        <div class="menu-text">Settings</div>
                    </a>
                </div>
                <div class="menu-divider m-0"></div>
            </div>
            <div class="menu-header">Applications</div>
            <div
                class="menu-item has-sub {% if segment == 'index' %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="menu-text">IEO</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div
                        class="menu-item {% if segment == 'index' %} active {% endif %}"
                    >
                        <a href="/" class="menu-link"
                            ><div class="menu-text">Main</div></a
                        >
                    </div>
                </div>
            </div>
            <div hidden
                class="menu-item has-sub {% if segment in ['thip_dashboard','thip_form_kpi','thip_form_thip','thip_upload'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">fact_check</i>
                    </div>
                    <div class="menu-text">Dashboard</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    {% if current_user.has_permission('read_thip') %}
                    <div
                        class="menu-item {% if segment == 'thip_dashboard' %} active {% endif %}"
                    >
                        <a href="/thip/dashboard" class="menu-link"
                            ><div class="menu-text">Dashboard</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('write_thip')
                    %}
                    <div
                        class="menu-item {% if segment == 'thip_form_kpi' %} active {% endif %}"
                    >
                        <a href="/thip/form_kpi" class="menu-link"
                            ><div class="menu-text">กรอกคะแนนโรงพยาบาล</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('write_thip')
                    %}
                    <div
                        class="menu-item {% if segment == 'thip_form_thip' %} active {% endif %}"
                    >
                        <a href="/thip/form_thip" class="menu-link"
                            ><div class="menu-text">กรอกคะแนนจาก THIP</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('write_thip')
                    %}
                    <div
                        class="menu-item {% if segment == 'thip_upload' %} active {% endif %}"
                    >
                        <a href="/thip/form_upload" class="menu-link"
                            ><div class="menu-text">อัพโหลดไฟล์ excel</div></a
                        >
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if current_user.has_permission('read_product') %}
            <div
                class="menu-item has-sub {% if segment in ['product_category', 'country', 'period', 'termOfPayment', 'productSales'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">Product</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div
                        class="menu-item {% if segment == 'product_category' %} active {% endif %}"
                    >
                        <a href="/product/product_category" class="menu-link"
                            ><div class="menu-text">Product Category </div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'country' %} active {% endif %}"
                    >
                        <a href="/product/country" class="menu-link"
                            ><div class="menu-text">Country </div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'period' %} active {% endif %}"
                    >
                        <a href="/product/period" class="menu-link"
                            ><div class="menu-text">Period </div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'termOfPayment' %} active {% endif %}"
                    >
                        <a href="/product/termOfPayment" class="menu-link"
                            ><div class="menu-text">Term of payment </div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'productSales' %} active {% endif %}"
                    >
                        <a href="/product/productSales" class="menu-link"
                            ><div class="menu-text">Product for Sales </div></a
                        >
                    </div>
                </div>
            </div>
            {% endif %}
            {% if current_user.has_permission('read_supplier')  %}
            <div
                class="menu-item has-sub {% if segment in ['fees', 'supplier_type', 'supplier_main'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">Supplier</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    {% if
                    current_user.has_permission('read_supplier')
                    %}
                    <div
                        class="menu-item {% if segment == 'fees' %} active {% endif %}" hidden
                    >
                        <a
                            href="/supplier/fees"
                            class="menu-link"
                            ><div class="menu-text">Fees</div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'supplier_type' %} active {% endif %}"
                    >
                        <a
                            href="/supplier/supplier_type"
                            class="menu-link"
                            ><div class="menu-text">Supplier Type</div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'supplier_main' %} active {% endif %}"
                    >
                        <a
                            href="/supplier/supplier_main"
                            class="menu-link"
                            ><div class="menu-text">Supplier</div></a
                        >
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if current_user.has_permission('read_organization')%}
            <div class="menu-item  {% if segment == 'organization' %} active {% endif %}" >
                 <a href="/organization" class="menu-link">
                  <div class="menu-icon">
                        <i class="fas fa-file-invoice fs-18px mx-1 mt-1"></i>
                    </div>
                 <div class="menu-text mt-1">Sponsor/Organization</div></a>
            </div>
             {% endif %}   
            {% if current_user.has_permission('read_Employee')%}
            <div class="menu-item  {% if segment == 'sponsor' %} active {% endif %}" >
                 <a href="/sponsor" class="menu-link">
                  <div class="menu-icon">
                        <i class="fas fa-file-invoice fs-18px mx-1 mt-1"></i>
                    </div>
                 <div class="menu-text mt-1">Employee</div></a>
            </div>     
            {% endif %}  
            {% if current_user.has_permission('read_university')%}
            <div class="menu-item  {% if segment == 'university' %} active {% endif %}" >
                 <a href="/university" class="menu-link">
                  <div class="menu-icon">
                        <i class="fas fa-file-invoice fs-18px mx-1 mt-1"></i>
                    </div>
                 <div class="menu-text mt-1">University</div></a>
            </div>  
            {% endif %}  
            {% if current_user.has_permission('read_agency')  %}
             <div class="menu-item  {% if segment == 'agency' %} active {% endif %}" >
                 <a href="/agency" class="menu-link">
                  <div class="menu-icon">
                        <i class="fas fa-file-invoice fs-18px mx-1 mt-1"></i>
                    </div>
                 <div class="menu-text mt-1">Agency</div></a>
            </div>  

            {% endif %}  
            {% if current_user.has_permission('read_bank account')  %}
             <div class="menu-item  {% if segment == 'bank_account' %} active {% endif %}" >
                 <a href="/bank_account" class="menu-link">
                  <div class="menu-icon">
                        <i class="fas fa-file-invoice fs-18px mx-1 mt-1"></i>
                    </div>
                 <div class="menu-text mt-1">Bank Account</div></a>
            </div>  

            {% endif %}  
            {% if current_user.has_permission('read_lead')  %}
            <div
                class="menu-item has-sub {% if segment in ['lead', 'create_lead', 'follow_lead'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">Lead In</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item {% if segment == 'lead' %} active {% endif %}">
                        <a href="/lead" class="menu-link">
                       <div class="menu-text mt-1">รายชื่อสนใจโครงการ</div></a>
                    </div>
                    <div class="menu-item {% if segment == 'create_lead' %} active {% endif %}">
                        <a href="/lead/create_lead" class="menu-link">
                       <div class="menu-text mt-1">เพิ่ม Lead ใหม่</div></a>
                    </div>
                    <div class="menu-item {% if segment == 'follow_lead' %} active {% endif %}" >
                        <a href="/lead/follow_lead" class="menu-link"hidden>
                       <div class="menu-text mt-1">ติดตามสถานะ Lead</div></a>
                    </div>
                    <div class="menu-item {% if segment == 'order_create' %} active {% endif %}">
                        <a href="/order/order_create" class="menu-link" hidden>
                        <div class="menu-text mt-1">สร้าง Order จาก Lead</div></a>
                    </div>
                </div>
            </div>

            {% endif %}  
            {% if current_user.has_permission('read_order')  %}
            <div
                class="menu-item has-sub {% if segment in ['order'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">Order</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item {% if segment == 'order' %} active {% endif %}">
                        <a href="/order" class="menu-link">
                       <div class="menu-text mt-1">Orders (ใบสั่งซื้อ)</div></a>
                    </div>
                    
                    
                </div>
                
            </div>

            {% endif %}  
            {% if current_user.has_permission('read_account')  %}
            <div
                class="menu-item has-sub {% if segment in ['account','invoice'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">Account</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item {% if segment == 'account' %} active {% endif %}">
                        <a href="/order/account" class="menu-link">
                       <div class="menu-text mt-1">Receipt</div></a>
                    </div>
                    <div class="menu-item {% if segment == 'invoice' %} active {% endif %}">
                        <a href="/order/invoice" class="menu-link">
                       <div class="menu-text mt-1">Tax Invoice</div></a>
                    </div>
                </div>
                
            </div>

            {% endif %}  
            
            {% if current_user.has_permission('read_list project')  %}    
            <div
                class="menu-item has-sub {% if segment in ['list_Productsupplier', 'list_ProductEmployee','list_Productorganization','list_ProductAgency'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="menu-text">รายการโครงการ</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div
                        class="menu-item {% if segment == 'list_Productsupplier' %} active {% endif %}"
                    >
                        <a
                            href="/supplier/list_Productsupplier"
                            class="menu-link"
                            ><div class="menu-text">รายการโครงการ Supplier</div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'list_ProductEmployee' %} active {% endif %}"
                    >
                        <a
                            href="/sponsor/list_ProductEmployee"
                            class="menu-link"
                            ><div class="menu-text">รายการโครงการ Sponsor</div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'list_Productorganization' %} active {% endif %}"
                    >
                        <a
                            href="/organization/list_Productorganization"
                            class="menu-link"
                            ><div class="menu-text">รายการโครงการ Sponsor/Organization</div></a
                        >
                    </div>
                    <div
                        class="menu-item {% if segment == 'list_ProductAgency' %} active {% endif %}"
                    >
                        <a
                            href="/agency/list_ProductAgency"
                            class="menu-link"
                            ><div class="menu-text">รายการโครงการ Agency/University</div></a
                        >
                    </div>
                </div>
            </div>
            {% endif %}
            {% if current_user.has_permission('read_line')%}
            <div class="menu-item  {% if segment == 'line' %} active {% endif %}" >
                 <a href="/organization" class="menu-link">
                  <div class="menu-icon">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="menu-text mt-1">จัดการ LINE แจ้งเตือนสินค้า</div></a>
            </div>
             {% endif %}  
            
           
            
            {% if current_user.has_permission('read_resource') or
            current_user.has_permission('read_permission') or
            current_user.has_permission('read_role') or
            current_user.has_permission('read_user') %}
            <div class="menu-header">Settings</div>
            <div
                class="menu-item has-sub {% if segment in ['resource','permission','role','user'] %} active {% endif %}"
            >
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="menu-text">User Manage</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    {% if current_user.has_permission('read_resource') %}
                    <div
                        class="menu-item {% if segment == 'resource' %} active {% endif %}"
                    >
                        <a href="/setting/resource" class="menu-link"
                            ><div class="menu-text">Resource</div></a
                        >
                    </div>
                    {% endif %} {% if
                    current_user.has_permission('read_permission') %}
                    <div
                        class="menu-item {% if segment == 'permission' %} active {% endif %}"
                    >
                        <a href="/setting/permission" class="menu-link"
                            ><div class="menu-text">Permission</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('read_role')
                    %}
                    <div
                        class="menu-item {% if segment == 'role' %} active {% endif %}"
                    >
                        <a href="/setting/role" class="menu-link"
                            ><div class="menu-text">Role</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('read_user')
                    %}
                    <div
                        class="menu-item {% if segment == 'user' %} active {% endif %}"
                    >
                        <a href="/setting/user" class="menu-link"
                            ><div class="menu-text">User</div></a
                        >
                    </div>
                    {% endif %} {% if current_user.has_permission('read_role')
                    %}
                    
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- BEGIN minify-button -->
            <div class="menu-item d-flex">
                <a
                    href="javascript:;"
                    class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none"
                    data-toggle="app-sidebar-minify"
                    ><i class="fa fa-angle-double-left"></i
                ></a>
            </div>
            <!-- END minify-button -->
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
</div>
<div class="app-sidebar-bg" data-bs-theme="dark"></div>
<div class="app-sidebar-mobile-backdrop">
    <a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a>
</div>
<!-- END #sidebar -->
