{% extends "layouts/base.html" %}

{% block title %} ใบสั่งซื้อ Order {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
 
 
<style>
    .input-group .form-control,
    .input-group .input-group-text,
    input[type="file"] {
        height: 35px; /* หรือ 100% ถ้าใน flex */
        line-height: 1.5;

     

}
</style>
{% endblock stylesheets %}

{% block content %}

<form  id="myForm" data-parsley-validate="true" enctype="multipart/form-data"> 

    <div id="content" class="app-content">
            
        <div class="row">
            <div class="col-xl-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">ใบสั่งซื้อ Order </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for categorie, message in messages %}
                                    <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}                    
                            {% endif %}
                        {% endwith %}

                    <div class="row">

                        <div class="card">
                            <div class="card-header bg-white">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title my-2">สร้างใบสั่งซื้อ Order</h4>  
                                    <div class="panel-heading-btn">
                                        <div class="d-flex align-items-center">

                                            <h4 class="mt-2">รหัส Order {{ datas.order_number }}</h4>
                                            <button type="button"  class="btn btn-blue ms-3"  onclick="validateForm()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="card-title mb-2">ข้อมูลลูกค้า  </h4>  
                                        <div class="row mb-3" hidden >
                                            <label class="form-label col-form-label col-md-4">id</label>
                                            <div class="col-md-8">
                                                <input type="hidden"  class="form-control" name="id" id="id_order" value="{{datas.id}}" data-parsley-required="true"/>
                                                <input type="hidden"  class="form-control" name="id_member" id="id_member" value="{{members.member_code}}" data-parsley-required="true"/>
                                                <input type="hidden"  class="form-control" name="order_code" id="order_code" value="{{datas.order_number}}" data-parsley-required="true"/>
                                            </div>
                                        </div>    

                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">รหัส Member:</label>
                                            <div class="col-lg-8">
                                                <input name="member_code" required class="form-control-plaintext   mx-2" value="{{members.member_code}}" readonly placeholder="ชื่อ">
                                            </div>
                                        </div>                        
                                        <div class="row mb-2">
                                            <label class="form-label col-form-label col-md-4">ชื่อ-นามสกุล</label>
                                            <div class="col-lg-4">
                                                <input name="first_name" required class="form-control  me-2" value="{{members.first_name}} "  placeholder="ชื่อ">
                                                
                                            </div>
                                            <div class="col-lg-4">
                                                <input name="last_name" required class="form-control  me-2" value="{{members.last_name}}"  placeholder="ชื่อ">

                                            </div>
                                        </div>                        
                                        <div class="row mb-2">
                                            <label class="form-label col-form-label col-md-4">ชื่อ-นามสกุล (ภาษาอังกฤษ)</label>
                                            <div class="col-lg-4">
                                                <input name="first_nameEN" required class="form-control  me-2" value="{{members.first_nameEN}} "  placeholder="ชื่อ">
                                                
                                            </div>
                                            <div class="col-lg-4">
                                                <input name="last_nameEN" required class="form-control  me-2" value="{{members.last_nameEN}}"  placeholder="ชื่อ">

                                            </div>
                                        </div>                        
                                        <div class="form-group row mb-2" >
                                            <label class="form-label col-form-label col-lg-4">E-mail</label>

                                            <div class="col-lg-8">
                                                <input type="email" class="form-control" name="email" value="{{members.email}}" placeholder="อีเมล">

                                            </div>
                
                                        </div>
                                        <div class="row ">
                                            <label class="form-label col-form-label col-md-4">ชื่อเล่น</label>
                                            <div class="col-lg-8 mb-2">
                                                <input name="nickname"  class="form-control me-2" value="{{members.nick_name}}"  placeholder="ชื่อเล่น">
                                            </div>
                                        </div>

                                        <div class="row " hidden>
                                            <label class="form-label col-form-label col-md-4">วันเกิด</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="masked-input-date" name="birth_date" value="{{ members.birth_date.strftime('%d/%m/%Y') if members.birth_date else '' }}" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>
                                    
                                        <div class="row mb-2">
                                            <label class="form-label col-form-label col-md-4">เบอร์โทร</label>
                                            <div class="col-md-8">
                                                <input name="phone" required value="{{members.phone}}" class="form-control " placeholder="เบอร์โทรศัพท์*">
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">ที่อยู่</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" id="address" rows="4" cols="50"  name="address" placeholder="" >{{members.address or '' }}</textarea>
                                            </div>
                                        </div>

                                        
                                        

                                    
                                    </div>
                                    <div class="col-sm-6 border-right pe-0">
                                        <div class="row mb-15px mt-4">
                                            <label class="form-label col-form-label col-md-4">Agency</label>
                                            <div class="col-md-8">
                                                <input name="agency" required value="{{datas.agency.first_name}} {{datas.agency.last_name}}" class="form-control-plaintext " placeholder="">
                                            </div>
                                        </div>
                                        

    
                                    </div>
                                </div>   
                                <hr>
                                <div class="row">
                                    <h4>รายละเอียดโครงการ</h4>
                                    <div class="col-md-5">
                                        <div class="row mt-3"  >
                                            <label class="form-label col-form-label col-md-3">ชื่อโครงการ</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext" name="name_project" value="{{orderItem.product.name}}" placeholder="">
                                            </div>
                                        </div> 
                                        <div class="row"  >
                                            <label class="form-label col-form-label col-md-3">เข้าร่วมปี</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext" name="year" value="{{datas.year}}" placeholder="">
                                            </div>
                                        </div> 
                                        <div class="row"  >
                                            <label class="form-label col-form-label col-md-3">ระยะเวลา</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext" name="period" value="{{datas.product.period.name}}" placeholder="">
                                            </div>
                                        </div> 
                                        <div class="row "  >
                                            <label class="form-label col-form-label col-md-3">ราคาค่าโครงการ</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext" name="price" value="{{ datas.price | comma }}" placeholder="" onchange="formatInputNumberWithCommas(this)" >                                                
                                            </div>
                                        </div> 

                                        <div class="row " hidden >
                                            <label class="form-label col-form-label col-md-3">จำนวนงวด</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext" name="termOFpayment" value="{{ orderTerms|length }}" placeholder="" onchange="formatInputNumberWithCommas(this)" >                                                
                                            </div>
                                        </div> 
                                        
                                        

                                    </div>
                                    <div class="col-md-7">
                                        <div class="row mt-4"  >
                                            <div class="col-md-8">
                                                <p>{{ datas.product.detail or '' }}</p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                                <div class="row mt-3 g-3">
                                    {% for payment in orderTerms %}
                                    <!-- กลุ่มข้อมูลของแต่ละงวด -->
                                    <div class="row   align-items-center" >
                                        <!-- ซ้าย: ข้อมูลงวด -->
                                        <div class="col-md-6  h-100">
                                            <div class="d-flex flex-row align-items-center gap-2">
                                                <label class="col-md-5 col-form-label fw-bold">{{ payment.term_detail }}</label>
                                
                                                <div class="mx-1 mt-1">
                                                    <input type="hidden" name="term_id" value="{{ payment.id }}">
                                                    <input type="text" class="form-control text-end " name="installments"
                                                        value="{{ '{:,.2f}'.format(payment.amount)}}" readonly placeholder="จำนวนเงิน">
                                                </div>
                                
                                                <div class="mx-1 ms-2">
                                                    <input type="text" class="form-control text-end price-input" name="discount"
                                                        oninput="formatInputNumberWithCommasDiscount(this)" onfocus="clearZeroWhenTyping(this)"
                                                        value="{{ '{:,.2f}'.format(payment.discount)}}" placeholder="ส่วนลด">
                                                </div>
                                
                                                <div class="mx-1">
                                                    <input type="text" class="form-control text-end price-input" name="count"
                                                        value="{{ '{:,.2f}'.format(payment.net_price)}}" oninput="formatInputNumberWithCommas(this)" readonly placeholder="รวมราคา">
                                                </div>
                                            </div>
                                        </div>
                                
                                        <!-- ขวา: วันจ่ายเงิน + ไฟล์ + ถังขยะ -->
                                        <div class="col-md-6 h-100 d-flex align-items-center justify-content-center gap-2">
                                            <div class="d-flex flex-row align-items-center w-100">
                                                <label class="col-md-2 col-form-label">วันที่จ่ายเงิน</label>
                                        
                                                <input type="hidden" name="term_id[]" value="{{ payment.id }}">
                                        
                                                <div class="d-flex align-items-center gap-2 flex-grow-1">
                                                    <div class="input-group date flex-grow-1" id="datepicker-disabled-past{{ payment.id }}" data-date-format="dd-mm-yyyy">
                                                        <input type="text" class="form-control datetimepicker ps-2" placeholder="Select Date"
                                                               id="kt_datepicker_{{ payment.id }}" name="payment_date[]" autocomplete="off"
                                                               value="{{ payment.payment_date.strftime('%d-%m-%Y %H:%M') if payment.payment_date else '' }}" />
                                                        <span class="input-group-text input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                        
                                                    <input class="form-control formFileInput" type="file" name="formFile_payment[]"
                                                           accept=".pdf, .jpg, .jpeg, .png" onchange="checkExistingFiles(this, {{ payment.id }})"
                                                           style="height: 35px; max-width: 200px;" />
                                                </div>
                                        
                                                <a href="#" class="pt-2 ps-2" onclick="sweetAlerPrintfile({{payment.id}},{{datas.id}})" hidden>
                                                    <i class="material-icons">print</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end my-2">
                                        <div class="col-6">
                                            <div class="d-flex flex-column gap-2" id="existing_files_{{ payment.id }}">
                                                {% for file_data in payment.files %}
                                                <div class="row ">
                                                    <div class="col-md-12 col-sm-12 col-xs-12  attached-file" data-file-id="{{ file_data.id }}">
                                                        <a href="{{ url_for('order_blueprint.downloadPayment', filename=file_data.filename) }}"
                                                           style="text-decoration: none; color: black;">
                                                            <i class="fas fa-lg fa-fw ms-5px fa-file"></i>
                                                            <span>{{ file_data.filename }}</span>
                                                        </a>
                                                        <a href="#" onclick="sweetAlertDelfile({{ file_data.id }}, {{ datas.id }})" >
                                                            <i class="fas fa-lg fa-fw mx-5px fa-trash-can text-danger c_trash"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                    
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}

                                    <!-- สรุปยอดรวม -->
                                    <div class="row mt-2" >
                                        <div class="col-md-6">
                                            <div class="row g-2 align-items-center">
                                                <label class="col-md-4 col-form-label fw-bold me-5">ยอดรวม</label>
                                
                                                <div class="col-md-2 ">
                                                    <input type="text" class="form-control-plaintext text-end" name="sum_installments"
                                                        value="0" onchange="formatInputNumberWithCommas(this)">
                                                </div>
                                
                                                <div class="col-md-2 ms-2">
                                                    <input type="text" class="form-control-plaintext text-end" name="sum_discount"
                                                        value="{{ '{:,.2f}'.format(datas.discount)}}" onchange="formatNumberWithCommas(this)">
                                                </div>
                                
                                                <div class="col-md-2 ms-3">
                                                    <input type="text" class="form-control-plaintext text-end" name="total_payment"
                                                    value="" readonly placeholder="รวมทั้งหมด">
                                                </div>
                                            </div>
                                            
                                            <div class="row mt-3"  hidden>
                                                <label for="term" class="form-label col-form-label col-md-5">สถานะชำระเงิน  </label>
                                                <div class="col-md-7">
                                                    <select class="default-select2 form-control col-3" id="installment" name="cash_payment">
                                                        {% for payment in payments %}
                                                            <option value="installment_{{ loop.index }}" {% if datas.status == 'installment_' ~ loop.index %}selected{% endif %}>ชำระเงินงวด {{ loop.index }}</option>
                                                        {% endfor %}
                                                        <option value="cancelled" {% if datas.status == 'cancelled' %}selected{% endif %}>ยกเลิก</option>
                                                        <option value="completed" {% if datas.status == 'completed' %}selected{% endif %}>จบโครงการ</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <div class="row mt-3"  >
                                                <label class="form-label col-form-label col-md-5">Note</label>
                                                <div class="col-md-7">
                                                    <textarea class="form-control" id="i_note" rows="4" cols="50"  name="note" placeholder="" >{{datas.note}}</textarea>
            
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-6">
                                                                                   
                                        </div>
                                    </div>
                                </div>
                                
                                
                                

                                <div class="row mt-3 " hidden>
                                    <div class="col-sm-6">
                                        <h5>การชำระเงิน</h5>
                                        <div class="row mb-3"  hidden>
                                            <label for="term" class="form-label col-form-label col-md-4">สถานะชำระเงิน </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control-plaintext text-primary" name="status_payment" readonly
                                                    value="{% if datas.status.startswith('installment_') %}ชำระเงินงวดที่ {{ datas.status.split('_')[1] }}
                                                           {% elif datas.status == 'completed' %}จบโครงการ
                                                           {% elif datas.status == 'cancelled' %}ยกเลิก
                                                           {% else %}สถานะไม่ทราบแน่ชัด
                                                           {% endif %}">
                                            </div>
                                        </div> 
                                        <div class="row mb-3"  >
                                            <label for="term" class="form-label col-form-label col-md-4">สถานะชำระเงิน <span class="text-danger">*</span> </label>
                                            <div class="col-md-8">
                                                <select class="default-select2 form-control col-4" id="installment" name="cash_payment">
                                                    {% for payment in payments %}
                                                        <option value="installment_{{ loop.index }}" {% if datas.status == 'installment_' ~ loop.index %}selected{% endif %}>ชำระเงินงวด {{ loop.index }}</option>
                                                    {% endfor %}
                                                    <option value="cancelled" {% if datas.status == 'cancelled' %}selected{% endif %}>ยกเลิก</option>
                                                    <option value="completed" {% if datas.status == 'completed' %}selected{% endif %}>จบโครงการ</option>
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="row mb-3"  >
                                            <label class="form-label col-form-label col-md-4">จำนวนเงิน <span class="text-danger">*</span></label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="amount" value="0" placeholder="" oninput="formatNumberInter(this)" >                                                
                                            </div>
                                        </div> 
                                        <div class="row mb-3"  >
                                            <label class="form-label col-form-label col-md-4">วันที่จ่ายเงิน <span class="text-danger">*</span></label>
                                            <div class="col-md-8">
                                                <div class="input-group date" id="datepicker-disabled-past" data-date-format="dd-mm-yyyy" >
                                                    <input type="text" class="form-control" placeholder="Select Date" id="kt_daterangepicker_2" name="payment_dates"  autocomplete="off" />
                                                    <span class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>                                            
                                            </div>
                                        </div> 
                                        <div class="row mb-3"  >
                                            <label class="form-label col-form-label col-md-4">Note</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="notes" value="" placeholder=""  >                                                                                          
                                            </div>
                                        </div> 
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">UPload สลิปการโอน <span class="text-danger">*</span></label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="file" id="formFile_payments" name="formFile_payments" placeholder=""  multiple accept=".pdf, .jpg, .jpeg, .png"  onchange="validateFile(this)"/>
                                            </div>
            
                                            
                                        </div> 
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row"> 
                                            <h5>
                                                หลักฐานการโอนเงิน
                                            </h5>

                                        </div>
                                        {% for file_data in file_datas %}
                                            
                                            <div class="row ">
            
                                                <div class="col-md-12 col-sm-12 col-xs-12 mb-5px mt-2">
                                                    <a href="{{ url_for('order_blueprint.downloadPayment', filename=file_data.filename)}}" style="text-decoration: none; color: black;"><i class="fas fa-lg fa-fw ms-5px  fa-file"></i> <span>{{ file_data.filename }}</span></a> 
                                                    <a href="#" onclick="sweetAlertDelfile({{file_data.id}},{{datas.id}})">
                                                        <i class="fas fa-lg fa-fw mx-5px fa-trash-can text-danger c_trash"></i>			
                                                    </a> 
                                                </div>
                                            </div>
                                            
                                        {% endfor %}
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</form>
<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/form-plugins.demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/render.highlight.js"></script>

<script src="{{ config.ASSETS_ROOT }}/js/supplier/main_supplier.js?v1.0"></script>
<script>
    function checkExistingFiles(input, paymentId) {
        const existingFilesContainer = document.getElementById(`existing_files_${paymentId}`);
        console.log('📦 paymentId:', paymentId);
        console.log('📦 container:', existingFilesContainer);
        if (!existingFilesContainer) {
            console.warn(`ไม่พบ container: existing_files_${paymentId}`);
            // ดำเนินต่อ
            return;
        }
    
        const existingFiles = existingFilesContainer.querySelectorAll('.attached-file');
        console.log('📄 attached-file count:', existingFiles.length);
        if (existingFiles.length > 0) {
            check_fail('มีไฟล์แนบอยู่แล้ว กรุณาลบไฟล์ก่อนแนบใหม่');
            input.value = ''; // ล้าง input
            validateFile(input); // ดำเนินต่อ
            return;
        }
        validateFile(input); 
        console.log('ไม่มีไฟล์แนบเดิม -> อนุญาตให้แนบ');
    }
</script>
<script>
    $("input[id^='kt_datepicker_']").each(function () {
        $(this).flatpickr({
            enableTime: true,
            dateFormat: "d-m-Y H:i", // ให้ตรงกับ format ของ value ที่ใส่ใน input
            time_24hr: true,
            // minDate: "today" // ถ้าต้องการห้ามเลือกวันที่ผ่านมาให้ uncomment บรรทัดนี้
        });
    });
    

    $('input.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    });
// เพิ่มคลิกที่ทั้ง .input-group และ icon
$('.input-group.date').on('click', function (e) {
    // ป้องกันการเปิด/ปิดซ้ำ
    if (!$(e.target).is('input')) {
        $(this).find('input.datepicker').datepicker('show');
    }
});
function triggerInitialCalculation() {
    $('input[name="installments"], input[name="discount"]').each(function () {
        $(this).trigger('input');
    });
}
let inputCount = 1;
$(document).ready(function () {
    console.log("jQuery loaded");
    //--------- คำนวณ -----------------
    $('input[name="installments"], input[name="discount"]').on('input', function () {
        let row = $(this).closest('.row'); // ใช้ closest('.row') แทน tr
    
        let installmentsInput = row.find('input[name="installments"]');
        let discountInput = row.find('input[name="discount"]');
        let totalInput = row.find('input[name="count"]'); // ช่องสำหรับผลลัพธ์รวม
    
        let installments = parseFloat(installmentsInput.val().replace(/,/g, '')) || 0;
        let discount = parseFloat(discountInput.val().replace(/,/g, '')) || 0;
    
        let total = installments - discount;
        total = parseFloat(total.toFixed(2));
    
        if (totalInput.length > 0) {
            totalInput.val(total.toLocaleString('en-US', { minimumFractionDigits: 2 }));
        }

        calculateTotalcount();
    });


    $(`input[name="installments"]`).each(function () {
        calculateTotalInstallments();
        calculateTotalcount();
    });
    

    $(document).on('input', 'input[name="discount"]', function () {
        calculateTotalDiscount();
    });

    $('.row.mb-3.align-items-center').each(function () {
        calculatdiscountPayment($(this));
        //calculateTotalcount();
    });

    triggerInitialCalculation();
    function generateInputs(termValue, payments = []) {
        let termNumber = parseInt(termValue, 10); 
        let extraInputsContainer = $("#extra-inputs");

        extraInputsContainer.empty(); 

        if (!isNaN(termNumber) && termNumber > 0) { 
            for (let i = 0; i < termNumber; i++) {
                let defaultID = payments[i] ? payments[i].id : "";
                let defaultDetail = payments[i] ? payments[i].term_detail : "";
                let defaultAmount = payments[i] ? payments[i].amount : "";

                let newRow = `
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-4">จำนวนงวด ${i + 1}</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" hidden name="term_id" value="${defaultID}" placeholder="รายละเอียด">
                            <input type="text" class="form-control" name="term_detail" value="${defaultDetail}" placeholder="รายละเอียด">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control price-input" name="installments" value="${defaultAmount}" oninput="formatInputNumberWithCommas(this)" placeholder="จำนวนงวด ${i + 1}">
                        </div>
                    </div>
                `;
                extraInputsContainer.append(newRow);
            }
        }
    }

    let payments = JSON.parse($("#paymentData").val() || "[]");

    let initialTermValue = $("#i_term").val();
    if (initialTermValue) {
        generateInputs(initialTermValue, payments);
    }

    $("#i_term").change(function () {
        let termValue = $(this).val().trim();
        generateInputs(termValue, payments);
    });

//----------------------------------------------------

    $('.addInputButton').click(function (e) {
        
        if (inputCount >= 5) {
            alert("ไม่สามารถเพิ่มได้เกิน 5 รายการ");
            return; // หยุดการทำงานของฟังก์ชัน
        }

        inputCount++;
        console.log(inputCount)
        e.preventDefault();

            let newRow = `<div class="item-row">
                            <div class="form-group row">
                                <label class="form-label col-form-label col-lg-4">ชื่อผู้ติดต่อ<span class="text-danger">*</span> </label> 
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-4 pe-0">
                                    <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล*" name="name_coordinator" required/>
                                </div>
                                <div class="col-lg-4 pe-0">
                                    <input type="text" class="form-control" placeholder="อีเมล*" name="name_coordinatorEmail" required />
                                </div>
                                <div class="col-lg-3 pe-0">
                                    <input type="text" class="form-control" placeholder="เบอร์โทร*" name="name_coordinatorTell" required />
                                </div>
                                <div class="col-lg-1">
                                    <a href="javascript:;" class="btn btn-sm btn-icon btn-danger text-center mt-1" onclick="func_deleteItem(this)">
                                        <i class="fa fa-minus text-center"></i>
                                    </a>
                                </div>
                            </div>
                        </div>`;
            
        $('#extra-inputs').append(newRow);
      
    });



    
   
    

    

      

});

//  
// ฟังก์ชันคำนวณ count ในแต่ละแถว
function calculatdiscountPayment(row) {
    let installmentsInput = row.find('input[name="installments"]');
    let discountInput = row.find('input[name="discount"]');
    let totalInput = row.find('input[name="count"]');

    let installments = parseFloat(installmentsInput.val()?.replace(/,/g, '')) || 0;
    let discount = parseFloat(discountInput.val()?.replace(/,/g, '')) || 0;

    let total = installments - discount;
    total = parseFloat(total.toFixed(2));

    console.log()

    if (totalInput.length > 0) {
        totalInput.val(total.toLocaleString('en-US', { minimumFractionDigits: 2 }));
    }
}
//  ฟังก์ชั่นรวมเงินทั้งหมดของสินค้า
function calculateTotalInstallments() {
    let total_installments = 0;

    $('input[name="installments"]').each(function () {
        const rawValue = $(this).val();
        if (typeof rawValue === 'string' && rawValue.trim() !== '') {
            const value = Number(rawValue.replace(/,/g, '')) || 0;
            total_installments += value;
        }
    });

    const $sumInput = $('input[name="sum_installments"]');
    if ($sumInput.length) {
            let formatted = formatNumberWithCommas(total_installments.toFixed(2));
            $sumInput.val(formatNumberWithCommas(total_installments.toFixed(2))).trigger('input');
            //$sumInput.val(total_installments.toFixed(2)).trigger('input');
    }
}

//  ฟังก์ชั่นรวมเงินทั้งหมดของส่วนลด
function calculateTotalDiscount() {
    let total_discount = 0;

    $('input[name="discount"]').each(function () {
        const rawValue = $(this).val();
        if (typeof rawValue === 'string' && rawValue.trim() !== '') {
            const value = Number(rawValue.replace(/,/g, '')) || 0;
            total_discount += value;
        }
        console.log(total_discount)
    });

    const $sumInputdiscount = $('input[name="sum_discount"]');
    if ($sumInputdiscount.length) {
            let formatted = formatNumberWithCommas(total_discount.toFixed(2));
            $sumInputdiscount.val(formatNumberWithCommas(total_discount.toFixed(2))).trigger('input');
    }
}

//  ฟังก์ชั่นรวมเงินทั้งหมดของส่วนลด
function calculateTotalcount() {
    $('input[name="sum_installments"], input[name="sum_discount"]').on('input', function () {
        let row = $(this).closest('.row'); // ใช้ closest('.row') แทน tr
    
        let installmentsInput = row.find('input[name="sum_installments"]');
        let discountInput = row.find('input[name="sum_discount"]');
        let totalInput = row.find('input[name="total_payment"]'); // ช่องสำหรับผลลัพธ์รวม
    
        let installments = parseFloat(installmentsInput.val().replace(/,/g, '')) || 0;
        let discount = parseFloat(discountInput.val().replace(/,/g, '')) || 0;
    
        let total_payment = installments - discount;
        total_payment = parseFloat(total_payment.toFixed(2));
    
        if (totalInput.length > 0) {
            totalInput.val(total_payment.toLocaleString('en-US', { minimumFractionDigits: 2 }));
        }

    });
    
}
function func_deleteItem(el) {

    $(el).closest('.item-row').remove();

     if (inputCount > 0) {
        inputCount--;
    }

    if ($('#extra-inputs .item-row').length === 0) {
        $('#extra-inputs').append(createContactRow());
        inputCount = 1;
    }
}

function removeInputIdEx() {
     const inputId = $(this).data('target'); // ดึง ID ของ input ที่จะลบจาก data attribute
    // inputCount--;
    // ลบค่าใน input ที่ระบุ
    $('#' + inputId).val(''); // ลบค่าของ input
    

}  

function createContactRow() {
    return `
    <div class="item-row">
        <div class="form-group row">
            <label class="form-label col-form-label col-lg-4">ชื่อผู้ติดต่อ <span class="text-danger">*</span></label> 
        </div>
        <div class="row mb-3">
            <div class="col-lg-4 pe-0">
                <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล*" name="name_coordinator" required/>
            </div>
            <div class="col-lg-4 pe-0">
                <input type="text" class="form-control" placeholder="อีเมล*" name="name_coordinatorEmail" required />
            </div>
            <div class="col-lg-3 pe-0">
                <input type="text" class="form-control" placeholder="เบอร์โทร*" name="name_coordinatorTell" required />
            </div>
            <div class="col-lg-1">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-danger text-center mt-1" onclick="func_deleteItem(this)">
                    <i class="fa fa-minus text-center"></i>
                </a>
            </div>
        </div>
    </div>`;
}


function clearZeroWhenTyping(input) {
    if (input.value === "0.00") {
        input.value = "";
    }
}

function formatInputNumberWithCommasDiscount(input) {
    let value = input.value;

    // ลบ comma ออกจากค่าที่ป้อน
    value = value.replace(/,/g, '');

    let regex = /^\d+(\.\d{0,2})?$/;
    if (!regex.test(value)) {
        input.value = input.value.slice(0, -1); // ลบตัวอักษรสุดท้ายที่เกินออก
        return;
    }

    // แปลงค่าเป็นตัวเลข
    let number = parseFloat(value);

    // แยกส่วนหน้าและส่วนทศนิยม
    let parts = value.split('.');
    parts[0] = parseInt(parts[0], 10).toLocaleString(); // เพิ่ม comma ให้เฉพาะส่วนหน้า

    // รวมค่ากลับ
    input.value = parts.length > 1 ? parts.join('.') : parts[0];
}

function formatInputNumberWithCommas(input) {
    
    if (!input || typeof input.value !== 'string') {
        return;
    }
    // ลบ comma ออกจากค่าที่ป้อน
    let value = input.value.replace(/,/g, '');

    let regex = /^\d+(\.\d{0,2})?$/;
    if (!regex.test(value)) {
        input.value = input.value.slice(0, -1); // ลบตัวอักษรสุดท้ายที่เกินออก
        return;
    }

    // แปลงค่าเป็นตัวเลข
    let number = parseFloat(value);

    // แยกส่วนหน้าและส่วนทศนิยม
    let parts = value.split('.');
    parts[0] = parseInt(parts[0], 10).toLocaleString(); // เพิ่ม comma ให้เฉพาะส่วนหน้า

    // รวมค่ากลับ
    input.value = parts.length > 1 ? parts.join('.') : parts[0];
}

function formatNumberWithCommas(value) {
    if (value === null || value === undefined) return '';
    value = value.toString().replace(/,/g, '');

    if (isNaN(value)) return '';

    const parts = value.split('.');
    parts[0] = parseInt(parts[0], 10).toLocaleString();

    return parts.length > 1 ? parts.join('.') : parts[0];
}


function validateFile(input) {
    const allowedExtensions = ['jpg', 'jpeg', 'png']; // นามสกุลไฟล์ที่อนุญาต
    const file = input.files[0];

    if (file) {
        const fileExtension = file.name.split('.').pop().toLowerCase(); // ดึงนามสกุลไฟล์

        if (!allowedExtensions.includes(fileExtension)) {
            check_fail('อนุญาตให้เลือกเฉพาะไฟล์ JPG, JPEG, PNG เท่านั้น!');
            input.value = ''; // เคลียร์ค่า input
        }
    }
}

function formatNumberInter(input) {

    let value = input.value;

    // ลบ comma ออกจากค่าที่ป้อน
    value = value.replace(/,/g, '');

    let regex = /^\d+(\.\d{0,2})?$/;
    if (!regex.test(value)) {
        input.value = input.value.slice(0, -1); // ลบตัวอักษรสุดท้ายที่เกินออก
        return;
    }

    // แปลงค่าเป็นตัวเลข
    let number = parseFloat(value);

    // แยกส่วนหน้าและส่วนทศนิยม
    let parts = value.split('.');
    parts[0] = parseInt(parts[0], 10).toLocaleString(); // เพิ่ม comma ให้เฉพาะส่วนหน้า

    // รวมค่ากลับ
    input.value = parts.length > 1 ? parts.join('.') : parts[0];
}


</script>
<script>
    function post(path, params, method = "post") {
        const form = document.createElement("form");
        form.method = method;
        form.action = path;
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement("input");
                hiddenField.type = "hidden";
                hiddenField.name = key;
                hiddenField.value = params[key];
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
    
    function func_save() {
        // console.log("Saving...");
    
        $('#myForm').attr('action', '/order/save_payment').attr('method', 'POST');
        $('#myForm').submit();
    }
    
    // let inputIds = [];
    
    let inputIds = [];
    
    $('#myForm').submit(function(e) {
        e.preventDefault(); // ป้องกันการ submit แบบปกติ
    
        let isValid = true;
       
        if (isValid) {
            // สามารถใช้บรรทัดนี้เพื่อส่งฟอร์มไปยัง backend:
            // $('#myForm').attr('action', route).attr('method', 'POST');
            this.submit(); // ทำการ submit ฟอร์มจริง
        }
    });

    
    
    function validateForm() {
        let isValid = true;
    
        // เช็คทุก input, textarea, select ที่ required
        $('#myForm').find('input[required], textarea[required], select[required]').each(function () {
            if (!$(this).val().trim()) {
                $(this).addClass('border-red-500');
                isValid = false;
            } else {
                $(this).removeClass('border-red-500');
            }
        });
        /*
        if (!isValid) {
            swal({
                icon: 'warning',
                title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            });
            return;
        }
        */
        // ✅ ถ้าข้อมูลครบ เรียกฟังก์ชันบันทึก
        func_save();
    }
</script>
<script>
    
function sweetAlertDelfile(id_file,id_order) {
    swal({
        title: "Are you sure?",
        text: "Delete?",
        icon: "error",
        buttons: {
            cancel: {
                text: "Cancel",
                value: null,
                visible: true,
                className: "btn btn-dark",
                closeModal: true,
            },
            confirm: {
                text: "Yes, Delete.",
                value: true,
                visible: true,
                className: "btn btn-danger",
                closeModal: true,
            },
        },
    }).then((result) => {
        if (result.dismiss !== "cancel") {
            post("/order/delete_file", {
                id_file: id_file,
                id_order: id_order,
                // path: $("#path").val(),
            });
        }
    });
}
</script>
<script>
    $('input[id^="installments"],input[id^="discount"]' ).on('input', function () {
        let row = $(this).closest('tr'); // ดึงแถวปัจจุบัน
        let installmentsInput = row.find('input[id^="installments"]');
        let discountInput = row.find('input[id^="discount"]');

        let installments = parseFloat(installmentsInput.val().replace(/,/g, '')) || 0;
        let discount = parseFloat(discountInput.val().replace(/,/g, '')) || 0;

        // คำนวณ total_cost สำหรับ n_cost
        
        let total = installments - discount;
        total = parseFloat(total.toFixed(2)); 

        // console.log("totalCost")
        // console.log(totalCost)
            // row.find('input[id^="sum_cost"]').val(formatNumberWithCommas(totalCost));
        row.find('input[id^="total"]').val(total);
        
    });
</script>

{% endblock javascripts %}
