{% extends "layouts/base.html" %}

{% block title %} รายการโครงการ Sponsor {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
<style>
    .product-badges {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4px;
        max-width: 100%; /* หรือกำหนดตามความกว้าง cell */
    }
    .product-badges .badge {
        white-space: nowrap;
    }
</style>


{% endblock stylesheets %}

{% block content %}

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <!-- <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="javascript:;">Resource</a></li>
    </ol>-->
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
   
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- ฝั่งซ้าย: รายการอุปกรณ์ + ปุ่มบวก -->
            <div class="d-flex align-items-center">
                <h6 class="page-header m-0">รายการโครงการ Sponsor</h6>
                {% if current_user.has_permission('write_sponsor') %}
                    
                    
                {% endif %}
            </div>

            
        </div>

    
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">รายการโครงการ Sponsor</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie, message in messages %}
                                <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}                    
                        {% endif %}
                    {% endwith %}
                    <table id="data-table-responsive" width="100%" class="table table-striped table-bordered align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-center" width="1%">No</th>
                                <th class="text-nowrap" width="20%">Name</th>
                                <th class="text-nowrap" width="20%">country</th>
                                <th class="text-nowrap" width="20%">tel</th>
                                <th class="text-nowrap text-center" width="25%">โครงการที่เข้าร่วม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- DataTables จะโหลดข้อมูลจากเซิร์ฟเวอร์โดยใช้ AJAX -->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/form-plugins.demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/render.highlight.js"></script>

<script src="{{ config.ASSETS_ROOT }}/js/employee/main_employee.js?v1.0"></script>

<script>
$(document).ready(function() {
    loadDataTable();
});

function loadDataTable() {
    if ($.fn.DataTable.isDataTable('#data-table-responsive')) {
        $('#data-table-responsive').DataTable().destroy(); // ลบ DataTable เดิมก่อน
    }

    $('#data-table-responsive').DataTable({
        responsive: true,
        processing: true,
        serverSide: true,
        ajax: {
            url: "/sponsor/get_listProductemployee",
            type: "POST",
            data: function(d) { 
                return JSON.stringify(d); 
            },
            contentType: "application/json",
            dataType: "json"
        },
        columns: [
            { data: "id", className: "text-center" },
            { data: "name" },
            { data: "country" },
            { data: "tel" },
            {data: "product",className: "text-center"},
            // { 
            //     data: null,  
            //     orderable: false, // ปิดการเรียงลำดับในคอลัมน์นี้
            //     className: 'text-center',
            //     render: function(data, type, row) {
            //         return `
            //             <a href="/employee/employee_update/${row.id}" class="btn btn-dark btn-icon btn-circle btn-lg">
            //                 <i class="fa fa-pencil-alt"></i>
            //             </a>
            //             <a class="btn btn-danger btn-icon btn-circle btn-lg" onclick="sweetAlertDel(${row.id})">
            //                 <i class="fas fa-trash"></i>
            //             </a>
            //         `;
            //     }
            // }
        ],
        order: [[0, "asc"]],  // เรียงลำดับจาก ID
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        pageLength: 10
    });
}


function sweetAlertDel(id) {
    swal({
        title: "Are you sure?",
        text: "Delete!",
        icon: "warning",
        buttons: {
            cancel: {
                text: "Cancel",
                value: null,
                visible: true,
                className: "btn btn-default",
                closeModal: true,
            },
            confirm: {
                text: "Delete",
                value: true,
                visible: true,
                className: "btn btn-danger",
                closeModal: true,
            },
        },
    }).then((result) => {
        if (result.dismiss !== "cancel") {
            post("/sponsor/delete_employee", {
                id: id
            });
        }
    });
}
</script>

{% endblock javascripts %}
