{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset password {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .parsley-error {
        background-color: white !important;
    }
    .parsley-success {
        background-color: white !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="login login-v2 fw-bold">
    <!-- BEGIN login-cover -->
    <div class="login-cover">
        <div class="login-cover-img" style="background-image: url('{{ config.ASSETS_ROOT }}/img/login-bg/login-bg-17.jpg')" data-id="login-cover-image"></div>
        <div class="login-cover-bg"></div>
    </div>
    <!-- END login-cover -->
    
    <!-- BEGIN login-container -->
    <div class="login-container">
        <!-- BEGIN login-header -->
        <div class="login-header">
            <div class="brand">
                <div class="d-flex align-items-center">
                    <span class="logo"></span>  Reset password
                </div>
            </div>
            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <!-- END login-header -->
        
        <!-- BEGIN login-content -->
        <div class="login-content">
            <form action="/reset_pass" method="POST" data-parsley-validate="true">
                <div class="form-floating mb-20px">
                    <input type="password" class="form-control fs-13px h-45px border-0" placeholder="Password" name="new_password" id="new_password" data-parsley-required="true" data-parsley-minlength="8" data-parsley-maxlength="16"/>
                    <label for="password" class="d-flex align-items-center text-gray-600 fs-13px">New Password</label>
                </div>
                <div class="form-floating mb-20px">
                    <input type="password" class="form-control fs-13px h-45px border-0" placeholder="Password" name="re_password" data-parsley-equalto="#new_password" data-parsley-required="true" data-parsley-minlength="8" data-parsley-maxlength="16"/>
                    <label for="password" class="d-flex align-items-center text-gray-600 fs-13px">Re Password</label>
                </div>
                <!-- <div class="form-floating mb-20px">
                    <input value="{{key}}" type="text" class="form-control fs-13px h-45px border-0" placeholder="key" name="key" readonly/>
                    <label for="password" class="d-flex align-items-center text-gray-600 fs-13px">key</label>
                </div> -->
                <div class="mb-20px">
                    <button type="submit" value="{{key}}" class="btn btn-success d-block w-100 h-45px btn-lg" name="key">Reset password</button>
                </div>
            </form>
        </div>
        <!-- END login-content -->
    </div>
    <!-- END login-container -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/parsleyjs/dist/parsley.min.js"></script>

{% endblock javascripts %}
