{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 500 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="error">
        <div class="error-code">Error 500</div>
        <div class="error-content">
            <div class="error-message">We couldn't find it...</div>
            <div class="error-desc mb-4">
                Server ERROR - Please contact support.
            </div>
            <div>
                <a href="/" class="btn btn-success px-3">Go Home</a>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
