{% extends "layouts/base.html" %}

{% block title %} รายการโครงการ {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />


{% endblock stylesheets %}

{% block content %}

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <!-- <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="javascript:;">Resource</a></li>
    </ol>-->
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
   
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- ฝั่งซ้าย: รายการอุปกรณ์ + ปุ่มบวก -->
            <div class="d-flex align-items-center">
                <h6 class="page-header m-0">รายการโครงการ</h6>
                
            </div>

            
        </div>

    
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">รายการโครงการ</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie, message in messages %}
                                <div class="alert alert-{{categorie}} alert-dismissible fade show mb-2 mt-1">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}                    
                        {% endif %}
                    {% endwith %}
                    <body class="bg-white p-6">

                        <!-- Filter Section -->
                          <div class="container mb-4">
                            <div class="row align-items-center g-2">
                            <div class="col-auto">
                                <select class="form-select">
                                <option selected>เลือกหมวดหมู่</option>
                                <option value="1">Nike</option>
                                <option value="2">Adidas</option>
                                <option value="3">FILA</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-dark">ค้นหา</button>
                            </div>
                            </div>
                        </div>

                        <!-- Product Grid 
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">-->
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

                            {% for data in datas %}
                                <div class="col">
                                    <div class="card h-100 text-center">
                                        {% if data.images and data.images|length > 0 %}
                                                <img src="/static/assets/img/product/{{ data.images[0].image }}" class="card-img-top mx-auto mt-2" alt="Product Image" style="width: 150px; height: 150px; object-fit: cover;">
                                        {% else %}  
                                            <img src="/static/assets/img/no_image.jpg" class="card-img-top mx-auto"
                                                alt="No Image" 
                                                alt="Product Image" style="width: 150px; height: 150px; object-fit: cover;">
                                        {% endif %}     
                                    <div class="card-body">
                                        <h5 class="text-blue-700 font-semibold">{{data.name}}</h5>
                                            <p class="text-blue-700 mb-0">{{data.category.name}}</p>
                                            <p class="text-blue-700 mb-0">Period : {{data.period.name}}</p>
                                            <p class="text-blue-700 ">ระยะเวลาโครงการ {{ datas.start_at.strftime('%d-%m-%Y') if datas.start_at else '' }} - {{ datas.end_at.strftime('%d-%m-%Y') if datas.end_at else '' }}</p>
                                        <h5 class="fw-bold text-danger">{{data.price|int}} บาท</h5>
                                    </div>
                                    <div class="card-footer bg-white border-0">
                                        <button class="btn btn-secondary w-100">🛒 หยิบใส่ตะกร้า</button>
                                    </div>
                                    </div>
                                </div>
                                
                            {% endfor %}
                            

                            <!-- คุณสามารถคัดลอก card ด้านบนซ้ำๆ สำหรับสินค้าอื่นๆ -->
                            <!-- ตัวอย่างเพิ่มอีก 3 ชิ้น -->

                           

                        </div>

                        </body>

                </div>
            </div>
        </div>
    </div>
</div>



<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net/js/dataTables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/table-manage-responsive.demo.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/moment/min/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/dist/js/select2.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/tag-it/js/tag-it.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select-picker/dist/picker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/form-plugins.demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/demo/render.highlight.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/js/product/main_ProductCategory.js?v1.0"></script>




{% endblock javascripts %}
